.header {
  display: flex;
  align-items: center; /* 중앙에 위치하게 끔. */
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem; /* 좌우정렬 위아래 0, 좌우 1rem*/
}

/* .header에 justify-content: space-between; 대신 사용 가능 */
.search-form {
  margin-left: auto;
  margin-right: 3rem;
  width: 300px;
}

.primary {
  padding: 1rem;
}

.secondary-a {
  background: white;
}

.secondary-b {
  color: white;
  background: #666;
}

.footer {
  padding: 1rem;
  border-top: 1px solid lightgray;
  text-align: center;
}

.modal {
  display: none;
  top: 80;
}

#modal-switch {
  font-size: 1rem;
}

label[for="modal-switch"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  width: 40px;
  height: 40px;
}

#modal-switch:checked ~ .modal {
  display: flex;
}

#modal-switch:checked ~ label[for="modal-switch"]:before {
  color: dodgerblue;
}

label[for="modal-switch"]:before {
  content: "■";
  font-size: 2rem;
}

#modal-switch,
label[for="modal-switch"] span {
  overflow: hidden;
  position: fixed;
  width: 1px;
  height: 1px;
  opacity: 0;
}

@media (min-width: 1024px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }

  .header {
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .secondary {
    width: 20%;
  }

  .secondary-a {
    order: 1;
  }

  .secondary-b {
    order: 3;
  }

  .primary {
    order: 2;
    width: 60%;
  }

  .footer {
    order: 999;
  }
}

@media (min-width: 1400px) {
  .secondary {
    width: 300px;
  }

  .primary {
    /* width: calc(100% - 600px); */
    /* flex-grow: 1; */
    flex: 1 1 auto;
  }
}
